<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 1. com.hongsi.purchshop.mapper.PurchsaleMapper 인터페이스 선언 -->
<!-- 2. root-context.xml <mybatis-spring:scan ~~ /> 태그로 기본 패키지 지정 -->
<!-- 3. com.hongsi.purchshop.mapper.PurchsaleMapper.xml 실행 작성 - src/main/resources -->
<!-- <![CDATA[ 이 사이에 있는 것은 mybatis가 처리하지 않고 그대로 넘긴다. DB에서 처리되도록 ]]> -->

<mapper namespace="com.hongsi.purchshop.mapper.PurchsaleMapper">

	<insert id="insertPurchsale">
	INSERT INTO PURCHSALE (
		CNO,
		ORDER_CNO,
		SALEDATE,
		ORI_250,
		ORI_500,
		ORI_1000,
		ERL_250,		
		ERL_500,		
		ERL_1000,	
		SNS_250,		
		SNS_500,
		SNS_1000,
		GUBUN,
		PRICE,
		PAYMENTPATH,
		SALEPATH,
		DELEVERYDATE,
		DELEVERYPATH,
		ORDERER,
		COMM,
		MANAGER,
		GUBUNCODE,
		STATUS	
	) VALUES (
		PURCHSALE_PK.NEXTVAL,
		#{order_cno},
		#{saleDate},
		#{ori_250},
		#{ori_500},
		#{ori_1000},
		#{erl_250},
		#{erl_500},
		#{erl_1000},
		#{sns_250},
		#{sns_500},
		#{sns_1000},
		#{gubun},
		#{price},
		#{paymentPath},
		#{salePath},
		#{deleveryDate},
		#{deleveryPath},
		#{orderer},
		#{comm},
		#{manager},
		#{gubunCode},
		'sale'
	)
	</insert>

	<select id="selectSaleList" resultType="com.hongsi.purchshop.vo.PurchsaleVO">
	SELECT 
		CNO,
		ORDER_CNO,
		SALEDATE,
		ORI_250,
		ORI_500,
		ORI_1000,
		ERL_250,		
		ERL_500,		
		ERL_1000,	
		SNS_250,		
		SNS_500,
		SNS_1000,
		GUBUN,
		PRICE,
		PAYMENTPATH,
		SALEPATH,
		DELEVERYDATE,
		DELEVERYPATH,
		ORDERER,
		COMM,
		MANAGER,
		GUBUNCODE,
		STATUS
	FROM PURCHSALE
	ORDER BY SALEDATE DESC	
	</select>
</mapper>
