<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 1. com.hongsi.purchbook.mapper.ItemMapper 인터페이스 선언 -->
<!-- 2. root-context.xml <mybatis-spring:scan ~~ /> 태그로 기본 패키지 지정 -->
<!-- 3. com.hongsi.purchbook.mapper.ItemMapper.xml 실행 작성 - src/main/resources -->
<!-- <![CDATA[ 이 사이에 있는 것은 mybatis가 처리하지 않고 그대로 넘긴다. DB에서 처리되도록 ]]> -->

<mapper namespace="com.hongsi.purchpack.mapper.PurchPackMapper">

	<!-- 	부자재 대분류 	-->
	<select id="mainList" resultType="com.hongsi.purchpack.vo.PurchPackItemVO">
		SELECT 
			CODE, 
			NAME 
		FROM PACKAGING 
		ORDER BY SORTNUM
	</select>

	<!-- 	부자재 소분류 	-->
	<select id="subList" resultType="com.hongsi.purchpack.vo.PurchPackItemVO">
		SELECT 
			CODE, 
			NAME 
		FROM PACKAGING_ITEM
		WHERE
			PACK_CODE = #{pack_code}
		ORDER BY SORTNUM
	</select>
	
	<!-- 	부자재 구입 정보 저장 	-->
	<insert id="insertPurchpackOrder">
	INSERT INTO PURCH_PACK (
		CNO,
		BUYDATE,
		BUYER,
		PACK_CODE,
		CODE,
		QTY,
		PRICE,
		PURSHOP,
		INDATE,
		GUBUN,
		FLAG,
		RDATE,
		UDATE
	) VALUES (
		PURCH_PACK_PK.NEXTVAL,
		#{buyDate},
		#{buyer},
		#{pack_code},
		#{code},
		#{qty},
		#{price},
		#{purShop},
		#{inDate, jdbcType=DATE},
		#{gubun},
		1,
		SYSDATE,
		SYSDATE
	)
	</insert>
	
	<select id="selectPackList" resultType="com.hongsi.purchpack.vo.PurchPackVO">
	SELECT 
		RNUM,
		CNO,
		BUYDATE,
		BUYER,
		PACK_CODE,
		PACK_NAME,
		CODE,
		NAME,
		QTY,
		PRICE,
		PURSHOP,
		INDATE,
		GUBUN,
		COMM,
		RDATE
	FROM (
		SELECT 
			ROWNUM RNUM,
			CNO,
			BUYDATE,
			BUYER,
			PACK_CODE,
			PACK_NAME,
			CODE,
			NAME,
			QTY,
			PRICE,
			PURSHOP,
			INDATE,
			GUBUN,
			COMM,
			RDATE
		FROM (	
			SELECT 
				A.CNO,
				A.BUYDATE,
				A.BUYER,
				A.PACK_CODE,
				B.NAME PACK_NAME,
				A.CODE,
				C.NAME,
				A.QTY,
				A.PRICE,
				A.PURSHOP,
				A.INDATE,
				A.GUBUN,
				A.COMM,
				A.RDATE
			FROM (
				SELECT			
						CNO,
						BUYDATE,
						BUYER,
						PACK_CODE,
						CODE,
						QTY,
						PRICE,
						PURSHOP,
						INDATE,
						GUBUN,
						COMM,
						RDATE
				FROM 	PURCH_PACK
				WHERE 	FLAG != 4
			) A,
			(SELECT CODE, NAME FROM PACKAGING) B,
			(SELECT CODE, NAME FROM PACKAGING_ITEM) C 
			WHERE A.PACK_CODE = B.CODE
			AND A.CODE = C.CODE
			ORDER BY A.BUYDATE DESC, A.RDATE DESC
		)
	)
	WHERE 	1=1
	AND 	RNUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<!-- 총 부자재 주문 건수 -->
	<select id="getPackTotalRow" resultType="java.lang.Integer">
	SELECT 	COUNT(*)
	FROM 	PURCH_PACK
	WHERE	FLAG != 4
	</select>
	
	<!-- 	부자재 구매 or 입출고 정보삭제 처리		 -->
	<update id="deletePack">
	UPDATE PURCH_PACK
	SET 	FLAG = 4, UDATE = SYSDATE
	WHERE 	CNO	= #{cno}
	</update>	
	
	<!-- 등록일자 당일 기준 부자재 주문 리스트 -->
	<select id="selectIndatePackList" resultType="com.hongsi.purchpack.vo.PurchPackVO">
	SELECT 
		RNUM,
		CNO,
		BUYDATE,
		BUYER,
		PACK_CODE,
		PACK_NAME,
		CODE,
		NAME,
		QTY,
		PRICE,
		PURSHOP,
		INDATE,
		GUBUN,
		COMM,
		RDATE
	FROM (
		SELECT 
			ROWNUM RNUM,
			CNO,
			BUYDATE,
			BUYER,
			PACK_CODE,
			PACK_NAME,
			CODE,
			NAME,
			QTY,
			PRICE,
			PURSHOP,
			INDATE,
			GUBUN,
			COMM,
			RDATE
		FROM (	
			SELECT 
				A.CNO,
				A.BUYDATE,
				A.BUYER,
				A.PACK_CODE,
				B.NAME PACK_NAME,
				A.CODE,
				C.NAME,
				A.QTY,
				A.PRICE,
				A.PURSHOP,
				A.INDATE,
				A.GUBUN,
				A.COMM,
				A.RDATE
			FROM (
				SELECT			
						CNO,
						BUYDATE,
						BUYER,
						PACK_CODE,
						CODE,
						QTY,
						PRICE,
						PURSHOP,
						INDATE,
						GUBUN,
						COMM,
						RDATE
				FROM PURCH_PACK
				WHERE 	TRUNC(RDATE) = TRUNC(SYSDATE)
				AND 	FLAG != 4
			) A,
			(SELECT CODE, NAME FROM PACKAGING) B,
			(SELECT CODE, NAME FROM PACKAGING_ITEM) C 
			WHERE A.PACK_CODE = B.CODE
			AND A.CODE = C.CODE
			ORDER BY A.BUYDATE DESC, A.RDATE DESC
		)
	)
	WHERE 	1=1
	AND 	RNUM BETWEEN #{startRow} AND #{endRow}
	</select>

	<!-- 등록일자 기준 총 부자재 주문 건수 -->
	<select id="getIndatePackTotalRow" resultType="java.lang.Integer">
	SELECT 	COUNT(*)
	FROM 	PURCH_PACK
	WHERE	FLAG != 4
	AND		TRUNC(RDATE) = TRUNC(SYSDATE)
	</select>
	
	<!-- 	주문번호에 의한 부자재 구매 or 입출고 정보 가져오기 -->
	<select id="selectPackInfoByCno" resultType="com.hongsi.purchpack.vo.PurchPackVO">
	SELECT			
			CNO,
			BUYDATE,
			BUYER,
			PACK_CODE,
			CODE,
			QTY,
			PRICE,
			PURSHOP,
			INDATE,
			GUBUN,
			COMM,
			RDATE
	FROM PURCH_PACK
	WHERE 	FLAG != 4
	AND		CNO = #{cno}	
	</select>	

	<!-- 부자재 구매 or 입출고 정보 수정 처리 -->
	<update id="updatePack">
	UPDATE 	PURCH_PACK
	SET		BUYDATE = #{buyDate},		
			BUYER 	= #{buyer},
			PACK_CODE = #{pack_code},
			CODE 	= #{code},
			QTY 	= #{qty},
			PRICE	= #{price},
			PURSHOP = #{purShop},
			INDATE 	= #{inDate, jdbcType=DATE},					
			GUBUN 	= #{gubun},
			COMM 	= #{comm},
			FLAG 	= 2,
			UDATE 	= SYSDATE
	WHERE 	CNO 	= #{cno}
	AND		FLAG 	!= 4
	</update>	
</mapper>