<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 1. com.hongsi.ingredient.mapper.IngredientMapper 인터페이스 선언 -->
<!-- 2. root-context.xml <mybatis-spring:scan ~~ /> 태그로 기본 패키지 지정 -->
<!-- 3. com.hongsi.ingredient.mapper.IngredientMapper.xml 실행 작성 - src/main/resources -->
<!-- <![CDATA[ 이 사이에 있는 것은 mybatis가 처리하지 않고 그대로 넘긴다. DB에서 처리되도록 ]]> -->

<mapper namespace="com.hongsi.ingredient.mapper.IngredientMapper">

	<!-- 재료구매 / 입출고 화면에서 주문품 필드에 재료 목록 보여줌  -->
	<select id="list" resultType="com.hongsi.ingredient.vo.IngredientVO">
	SELECT 
		CNO,
		CODE,
		KNAME,
		ENAME		
	FROM INGREDIENT
	ORDER BY KNAME ASC
	</select>		
</mapper>